//===========================================
// -Variables start
//===========================================

// Colors start

// define your vars or override bootstrap vars
$default: #d8d7d7;
$primary: #1bbed0b6;
$secondary: #004cff;

// Typography Family
$font-default: "Roboto", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

$font-path: "../fonts";



// ===========================================
// -Variables end
// ===========================================
